@page "/"
<div class="text-center">
    


    <div class="jumbotron shadow">
        <h1 class="display-4">The Free Public API Directory</h1>
        <h2 class="text-muted">View all APIs or get a random one.</h2>
        <div class="row">

            <div class="card col-sm-12 col-lg-5 shadow rounded text-center px-0">
                <h2 class="card-header">
                    View All APIs
                </h2>


                <a href="allapis">
                    <button class="btn btn-info my-3">Go</button>
                </a>
            </div>

            <div class="col-lg-2"></div>

            <div class="card col-sm-12 col-lg-5 shadow rounded text-center px-0">
                <h2 class="card-header">
                    Get A Random API
                </h2>

                <a href="random">
                    <button class="btn btn-info my-3">Go</button>
                </a>
            </div>
        </div>

    </div>
</div>